<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <!-- use the following browser values: 'chrome', 'firefox', 'ie' or 'edge' -->
    <add key="browser" value="chrome" />  
    <add key="baseUrl" value="https://trello.com/" />
    <add key="username" value="" />
    <add key="password" value="" />
    <!-- use the following remoteServer value to access the hub: -->
    <add key="remoteServer" value="" />    

  </appSettings>
</configuration>